@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300&family=Ubuntu:ital@1&display=swap');
@import url('./styles2.css');
@import url('./styles3.css');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
@media(min-width:500px) and (max-width:799px){
    .navbar{
        background-color: aqua;
       /* position: fixed;*/
        width: 100%;
    }
    .navbar .menu li{
        margin-left: 5px;
        display: inline-block;
    }
    .navbar .max-width{
        text-align: center;
    }

}
    @media(min-width: 800px){
    .navbar{
    display: block;
   /* position: fixed;*/
    background-color: aqua;
    /*width: 100%;*/
    padding: 15px 0;
    font-family: 'Poppins',sans-serif;}
}
    @media(min-width: 800px){
    .navbar .logo a{
    font-size: 35px;
    font-weight: 500;}
}
    @media(min-width: 800px){
    .navbar .menu li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;}
}
    @media(min-width: 800px){
    .navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;}
}
    @media(min-width: 800px){
    .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;}
}
@media(min-width:800px){
    .home{
    display:grid;
    flex-direction: row;
    width: 100%;
    grid-template-columns: 65% 35%;
    grid-template-areas: 
    "col1 col1"
    "col2 col2";
   
    }
    .col1{
        grid-area: col1;
        border: 0.2px solid black;
    }
    .col2{
        grid-area: col2;
    }
}
@media(min-width:500px) and (max-width:799px){
.home{
    display: flex;
    background: url("/home/venkatapavanathukuri/Html/Personal_Blog/images/Image.jpg") no-repeat /300px;
    height: 50vh; 
    padding:15px;
    min-height: 200;
    margin-right: 100px;
}
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .max-width .home-content .text-1{
    font-size: 25px;
}
.home .max-width .home-content .text-2{
    font-size: 40px;
    font-weight: 500px;
}
.home .max-width .home-content .text-3{
    font-size: 25px;
}
.about .about_me{
    align-content: center;
    text-align: center;
}
@media(min-width:800px){
.about{
    display:grid;
    flex-direction: row;
    width: 100%;
    grid-template-columns: 35% 65%;
    grid-template-areas: 
    "Grid_Container-1 Grid_Container-1"
    "Grid_Container-2 Grid_Container-3"
    "Grid_Container-4 Grid_Container-5";
    justify-content: center;
    height: 100%;
}
}
@media(min-width:800px){
.projects{
    display: grid;
    width: 100%;
    flex-direction: row;
    grid-template-columns: 35% 65%;
    grid-template-areas: 
    "project-title project-title"
    "project-1 project-1-content"
    "project-2 project-2-content"
    "project-3 project-3-content"
    "project-4 project-4-content";
    height: 100%;
    grid-gap: 5px;
    justify-content: center;
}
}
@media(min-width:400px)and (max-width:799px){
.projects{
    display: grid;
    width: 100%;
    flex-direction: column;
    grid-template-areas: 
    "project-title project-title"
    "project-1 project-1-content"
    "project-2 project-2-content"
    "project-3 project-3-content"
    "project-4 project-4-content";
    height: 100%;
    grid-gap: 5px;
    justify-content: center;
}
}
.head{
    text-align: center;
    border: 0.2px solid black;
    padding: 15px;
}
.skills .skill li{
   display: inline-block;
   list-style: none;
   font-size: 20px;
   margin-left: 20px;
}
@media(min-width:800px){
.skill{
    display: flex;
    padding: 15px;
    width: 100%;
    background-color: azure;
}
}
.footer img{
    height:50px;
}
.footer{
    text-align: center;
}
.cont{
    text-align: center;
}