@media(min-width:500px) and (max-width:799px){
    .grid{
        display: grid;
        flex-direction: row;
        grid-template-areas: 
        "card"
        "footer";
        padding:20px;
        height:50%;
        grid-gap:5px;
    }
    .card{
        grid-area: card;
        border: 0.1px solid black;
        text-align: center;
        margin:auto;
    }
    .card img{
        height:450px;
    }
    .footer{
        grid-area: footer;
        text-align: center;
    }
    .footer img{
        height:40px;
    }
    .cont{
        text-align: center;
    } 
}
@media(min-width:800px){
.card img{
    width:100%;
    height:40%;
}
.grid{
    display: grid;
    grid-template-rows: 85% 15%;
    grid-template-columns: 60 40%;
    flex-direction: column;
    grid-template-areas: 
    "card card"
    "footer footer";
    padding:20px;
    height:100vh;
}
.card{
    grid-area: card;
    width: 25%;
    border: 0.1px solid black;
    text-align: center;
    margin:auto;
}
.footer{
    grid-area: footer;
    text-align: center;
}
.footer img{
    height:40%;
}
.cont{
    text-align: center;
}
}